* {
    font-family: Helvetica;

}

body {
    /*padding: 15px;*/
    background-color: rgb(200, 200, 250);
    margin: 0;
}


.content {
    /*essa div é tipo um body, só pra ter um controle melhor das son's*/
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.hide {
    display: none;
}

/*menu configs*/

.menu {
    /*div pai 0*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: #0DB8A3;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: solid black 1px;

}

.menu input,
button {
    background-color: #059786;
    padding: 0.2rem;
    border: none;
    border-radius: 1rem;
    height: 1.5rem;
}

.menu input::placeholder {
    color: rgb(87, 87, 87);
    font-size: 12px;
}

h1 {
    margin-left: 2rem;
    color: white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}


#searchdiv1 {
    /*div pai -1*/
    display: flex;
    align-items: center;

}

#searchBox1 {
    /*son*/
    text-align: center;
    height: 2rem;
    width: 12rem;
}

#submitButton1 {
    /*son*/
    text-align: baseline;
    margin-left: 0.5rem;
    width: 4rem;
    height: 2rem;
    background-color: #059786;
    cursor: pointer;
}

.loginButton {
    /*son*/
    width: 5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.sitewallpaper {
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    height: 23rem;
    width: 100%;
    background-color: #2f91d2;
    background-image: url(lugia.webp);
    text-align: center;
    display: flex;
    justify-content: center;
}

#searchBox2 {
    /*son of search div*/
    border-radius: 1.5rem;
    border: #059786 solid 2px;
    background-color: white;
    padding: 0.5rem;
    margin-left: 3rem;
    height: 2rem;
    width: 20rem;
    text-align: center;
    font-size: 20px;
}

.searchdiv2 {
    /*son of sitewallpaper*/
    display: flex;
    margin-top: 0rem;
    justify-content: center;
    border-radius: 4rem;
    align-items: center;
}

.submitButton2 {
    /*son of sitewallpaper*/
    border: solid #059786 1px;
    border-radius: 1rem;
    background-color: #0cceb7;
    padding: 0.5rem;
    box-shadow: 0px 0px 2px black;
    height: 2rem;
    margin-left: 2px;
    cursor: pointer;
}

hr {
    /*son of body(header)*/
    margin-bottom: 10rem;
    height: 2rem;
    background-color: rgb(123, 123, 203);
    margin-bottom: 5%;
}

.paicardcontainer {
    display: flex;
    justify-content: center;
}

#cardContainer {
    /*son of paicardcontainer*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(93, 124, 249);
    border-radius: 1rem;
    box-shadow: 0px 0px 8px black;
    padding-top: 2rem;
    width: 90%;
}

.card {
    /*son of #cardcontainer that is son of .paiContainer*/
    background-color: rgb(140, 163, 255);
    height: 17rem;
    width: 12rem;
    display: flex;
    align-items: center;
    margin: 1rem;
    border-radius: 1.5rem;
    flex-direction: column;
    transition: transform .2s;
    border: solid rgb(37, 37, 37);

}

.card:hover {

    transform: scale(1.2);
}

.numberpk{
    align-self: flex-start;
    margin-bottom: 0;
    margin-left: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 60%;

}

.pkimage {

    background-color: rgb(79, 79, 79);
    border-radius: 50% 20% 50% 20%;
    padding: 1rem;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(168, 29, 29) 50%, rgb(204, 204, 204) 50%);

}

.pkname {
    color: rgb(26, 26, 29);
    text-transform: capitalize;
    align-self: flex-start;
    margin-left: 0.4rem;
    margin-top: 0.4rem;
    margin-bottom: 0rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.hrcardmini{
    width: 100%;
    height: 10px;
    border: none;
    background-color: rgb(37, 37, 37);
}

/*segunda tela*/

#posts-container {
    display: flex;
    justify-content: center;

}

.divpai {
    /*segunda tela*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(45, 43, 43);
    border-radius: 4rem;
    height: 45rem;
    width: 100%;
    margin-bottom: 4rem;


    animation-name: opacidade;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}



.divcentral {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divnormal {
    /*Após a busca*/
    background-color:#059786;
    text-align: center;
    border: solid white 1px;


    align-items: center;
    border-radius: 2rem;
    height: 30rem;
    width: 25rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    padding: 0.5rem;
    animation-name: transicao;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

h2{
    font-family: 'Courier New', Courier, monospace;
}

.pokemon_imagediv {
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(217, 217, 217) 40%, rgb(255, 255, 255) 50%);
    border-radius: 50%;
    border: solid rgb(53, 53, 53);
    height: 15rem;
    width: 15rem;
}

.imagepokemon {
    height: 200px;
    width: 200px;
    margin-top: 1rem;
}


.divdescription {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-inline: 0.5rem;
    justify-content: space-between;
}

.HP {
    text-transform: capitalize;
    font-family: 'courier' !important;
    font-weight: bold;
    margin-left: 1rem;

}


.texthp {
    font-family: 'courier' !important;
    font-weight: bold;
    margin-left: 4rem;
}

.barfundo {
    width: 8rem;
    height: 1rem;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    padding-inline: 2px;
    position: relative;
    /* Add relative position to enable absolute positioning for children */
    border-radius: 0.2rem;
    margin-right: 1rem;
}

.barfrente {
    height: 0.8rem;
    background-color: rgb(48, 232, 48);
    margin-top: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
}

#hpporcentagem {
    font-size: 12px;
    font-weight: bold;
    z-index: 11;
    position: absolute;
    top: -65%;
    left: 43%;
    opacity: 60%;
    /* Positions the element at the horizontal center of its parent */
}

.hrcard{
    width: 100%;
    height: 0.5rem;
    border: none;
    background-color: white;
}


body::-webkit-scrollbar {
    width: 12px;


}


body::-webkit-scrollbar-track {
    background: rgb(225, 225, 225);

}

body::-webkit-scrollbar-thumb {
    background-color: rgb(168, 29, 29);
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    border: 1px solid white;
    /* creates padding around scroll thumb */
}

@keyframes transicao {

    0% {
        margin-left: 0rem;
    }

    25% {
        margin-left: 0.75rem;
    }

    50% {
        margin-left: 1.5rem;
    }

    75% {
        margin-left: 2.5rem;
    }

    100% {
        margin-left: 3;
    }

}

@keyframes opacidade {

    0% {
        opacity: 0;
    }

    25% {
        opacity: 3;
    }

    50% {
        opacity: 6;
    }

    75% {
        opacity: 9;
    }

    100% {
        opacity: 12;
    }

}